<div class="list-group">
  <div class="list-group-item font-weight-bold d-flex justify-content-between align-items-center">
    <span>Date Placed</span>
    <span>Details</span>
  </div>

  <mat-accordion>
    <mat-expansion-panel class="list-group-item" *ngFor="let order of orders">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ order.datePlaced | date:'short' }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="accordion-content">
          <order-summary [order]="order"></order-summary>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>