<div class="row">
  <div class="col-md-6 col-sm-12">
    <h5>Products</h5>
    <ul *ngIf="order" class="list-group list-group-flush">
      <li *ngFor="let item of order.items" class="list-group-item">
        {{ item.quantity }} x {{ item.product.title }}
        <div class="float-right">
          {{ item.totalPrice | currency:'USD':symbol }}
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
    <h5>Shipping</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="font-weight-bold">Name</span>
        <br> {{ order.shipping.name }}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">City</span>
        <br> {{ order.shipping.city }}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Address</span>
        <br> {{ order.shipping.addressLine1 }}
        <br> {{ order.shipping.addressLine2 }}
      </li>
    </ul>
  </div>
</div>